body{
    background-color: black;
    color: yellowgreen;
}

section{
    height: 40vh;
}

.blue{
    background-color: blue;
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}