body {
    background-color: #333;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

.heading {
    /* position: relative; */
    /* transition: all 0.3s; */
    /* transform: translateX(-300px); */
    /* transform: translateY(-20px); */
    /* transition: all 0.3s 0.3s; */
    /* transition: all 1s; */
    /* transition: all 0.2s ease-out; */
    transition: all 0.4 linear;
}

.heading:hover {
    /* font-size: 48px;  */
    color: rgb(86, 226, 219);
    cursor: pointer;
    /* transform: translateX(-100px); */
    /* transform: translateY(-10px); */
    transform: translateX(-200px);
}

div {
    height: 10rem;
    width: 10rem;
    background: linear-gradient(#e66465, #9198e5);
    border-radius: 3rem;
    transform: rotate(0);

}

.rotate{
    animation: rotate 2s ease-in-out infinite;
}
 

@keyframes rotate {
    from{
        transform: none;
    }
    to {
        transform: rotate(2.5turn); 
    }
} 