body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
}

div{
    height: 20rem; 
    width: 20rem;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 2px;
}